.contact_form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 343px;
    margin: 80px auto 130px;
    width: 940px;
    textarea {
        resize: none;
        padding: 16px 22px;
    }
    .submit_button {
        font-size: 16px;
        padding-top: 20px;
        padding-bottom: 17px;
    }
}
.user_info {
    display: flex;
    justify-content: space-between;
    transition: 0.3s;
    input {
        color: #a9a9a9;
        width: 290px;
    }
}
.user_info input,
textarea {
    border: 1px solid #d8dce0;
}
.submit_button:hover {
    transition: 0.3s;
    background-color: lighten(@hover_icon, 10%);   
}
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
//    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
}
.modal-content {
    top: 50%;
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    text-align: center;
    width: 30%;
    p {
        padding: 30px;
    }
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding: 10px 10px 0 0;
    &:hover,
    &:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
}
