/* @font-face kit by Fonts2u (https://fonts2u.com) */ 
@font-face {
    font-family:"computer mouse";
    src:url("computer_mouse.eot?") format("eot"),url("computer_mouse.woff") format("woff"),url("computer_mouse.ttf") format("truetype"),url("computer_mouse.svg#computermouse") format("svg");
    font-weight:normal;
    font-style:normal;
}
