.our_services {
    background-color: @bgcolor;
    section {
    .each_block_header;
    }
    & > div {
        .clearfix;
        margin: 0 auto;
        padding-bottom: 120px;
        width: 1030px;
        ul {
            margin-right: 43px;
            float: left;
            .icon;
            li {
                margin-bottom: 15px;
                font-size: 28px;
            }
        }
        
    }
}
.fa-wrench {
    right: 13px;
    top: 12px;
}
.fa-paint-brush {
    right: 13px;
    top: 11px;
}
.fa-gamepad {
    right: 13px;
    top: 11px;
}
.fa-plug {
    right: 12px;
    top: 11px;
}
.circular_percentage_bar {
    margin-top: 54px;
    float: right;
}
.graphic_design {
    width: 398px;
    overflow: hidden;
    p:first-of-type {
        .bigger_paragraph;
        margin-top: 30px;
        strong:first-of-type {
            color: @hover_icon;
        }
    }
    p:last-of-type {
        margin-top: 25px;
        strong {
            color: @hover_icon;
        }
    }
}